@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}*{
  scroll-behavior: smooth;
}

.animate-slide-down {
  animation: slide-down 0.4s ease-out forwards;
}

.marquee-track {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
  will-change: transform;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.bacgroundImageAdd{
  background-image: url('https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}